@model ForgotPasswordViewModel
@{
    ViewData["Title"] = @Localizer["Account_ForgotPassword"];
    Layout = "_LayoutAnonymous";
}

<h4 class="mb-2">@Localizer["Account_ForgotPasswordMessage"]</h4>
<p class="mb-4">@Localizer["Account_ForgotPasswordPrompt"]</p>

<form id="formAuthentication" class="mb-3" asp-route-returnUrl="@Model.ReturnUrl" asp-action="@nameof(AccountController.ForgotPassword)" method="POST">
    <div class="mb-3">
        <label asp-for="Email" class="form-label">@Localizer["Account_Email"]</label>
        <input asp-for="@Model.Email" class="form-control" autofocus />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary d-grid w-100">@Localizer["Account_Submit"]</button>
</form>

<div class="text-center">
    <a asp-controller="Account" asp-action="@nameof(AccountController.Login)" asp-route-returnUrl="@Model.ReturnUrl"
       class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        @Localizer["Account_BackToLogin"]
    </a>
</div>