@model string
@{
    ViewData["Title"] = @Localizer["Account_ForgotPassword"];
    Layout = "_LayoutAnonymous";
}

<h4 class="mb-2">@Localizer["Account_ForgotPassword"]</h4>
<p class="mb-4">@Localizer["Account_ResetPasswordMessage", Model]</p>

<div class="text-center">
    <a asp-controller="Account" asp-action="@nameof(AccountController.Login)" class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        @Localizer["Account_BackToLogin"]
    </a>
</div>