@model ResetPasswordViewModel
@{
    ViewData["Title"] = @Localizer["Account_ResetPassword"];
    Layout = "_LayoutAnonymous";
}

<h4 class="mb-2">@Localizer["Account_ResetPassword"]</h4>

@if (ViewBag.Errors != null)
{
    <div class="mb-4">
        @foreach (var error in ViewBag.Errors)
        {
            <span class="text-danger">@error</span>
            <br />
        }
    </div>
}

<form id="formAuthentication" class="mb-3" asp-route-returnUrl="@Model.ReturnUrl" asp-action="@nameof(AccountController.ResetPassword)" method="POST">
    <div class="mb-3 form-password-toggle">
        <label class="form-label" asp-for="@Model.Password">@Localizer["Account_Password"]</label>
        <div class="input-group input-group-merge">
            <input class="form-control" type="password" asp-for="@Model.Password" aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-password-toggle">
        <label class="form-label" asp-for="@Model.ConfirmPassword">@Localizer["Account_ConfirmPassword"]</label>
        <div class="input-group input-group-merge">
            <input class="form-control" type="password" asp-for="@Model.ConfirmPassword" aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="ReturnUrl" />

    <button class="btn btn-primary d-grid w-100">@Localizer["Account_Reset"]</button>
</form>